        <h1>欲しいもの掲示板</h1>
        <div class="card">
          <div class="card-content">
            <%= form_tag(:controller => 'wants', :action => 'new') do %>
              <div class="input-field">
                <input type="text" name="content" id="content" required></input>
                <label for="content" class="active">欲しいもの</label>
              </div>
              <div class="input-field center-align">
                <button type="submit" class="btn">送信</button>
              </div>
            <% end %>
          </div>
        </div>
        <ul class="collection wants">
<% @wants.each do |want| %>
          <li class="collection-item">
            <div class="content"><%= want.content %></div>
            <div class="date"><%= want.created_at.to_s.slice(0, 16) %></div>
          </li>
<% end %>
        </ul>
