<h2>つくByeBuyについて</h2>

  本サービス「つくByeBuy 筑波大生の品物手渡しマッチングサービス」は、筑波大学情報メディア創成学類の授業「情報メディア実験B」において、「enPiT」を選択受講した学生チームによって開発されたWebサービスです。<br><br>

  <%= link_to 'enPiT公式ページ', 'http://www.enpit.jp/' %><br>
  <%= link_to 'enPiT BizApp × 筑波大学', 'http://www.cs.tsukuba.ac.jp/enPiT/' %><br><br><br>

  授業の一環として開発したサービスですが、実際に使いたいとの声を多くいただいたため実用化することになりました。<br>
  既存の類似サービスに比べ、「送料・手数料不要」「氏名や住所の登録不要」「筑波大生同士という安心感」など様々な利点がありますので、ぜひご活用ください。<br><br>

  つくByeBuyでは、Web上で売買のマッチングのみを行い、その後の連絡や実際の取引は当事者に一任しています。<br>
  そのため、万が一トラブルが起きた場合でも運営側は一切の責任を負いかねますのでご了承ください。<br><br>

  つくByeBuyの詳しい使い方は<%= link_to '「使い方」', 'usage' %>ページに載せてありますのでご覧ください。<br><br>

<h2>お問い合わせ</h2>
  <p>何かございましたら</p>
  <p style="padding-left: 2em;">tsuku.byebuy[at]gmail.com ( [at] を@に変えてください。)</p>
  <p>または</p>
  <p style="padding-left: 2em;">Twitter公式アカウント<br><a href="https://twitter.com/TsukuByeBuy" target="_blank">@TsukuByeBuy</a></p>
  <p>までご連絡ください。</p>

<br><br><br><br>
つくByeBuy運営　チームA1<br><br>
