        <h1>つくByeBuyについて</h1>
        <div class="card">
          <div class="card-content">
            <p>本サービス「つくByeBuy 筑波大生の品物手渡しマッチングサービス」は、筑波大学情報メディア創成学類の授業「情報メディア実験B」において、「enPiT」を選択受講した学生チーム「チームA1」によって開発されたWebサービスです。</p>
            <p style="padding-left: 2em;">
              <%= link_to 'enPiT公式ページ', 'http://www.enpit.jp/' %><br>
              <%= link_to 'enPiT BizApp × 筑波大学', 'http://www.cs.tsukuba.ac.jp/enPiT/' %>
            </p>
            <p>
              授業の一環として開発したサービスですが、実際に使いたいとの声を多くいただいたため実用化することになりました。<br>
              既存の類似サービスに比べ、
            </p>
            <ul class="browser-default">
              <li>送料・手数料不要</li>
              <li>氏名や住所の登録不要</li>
              <li>筑波大生同士という安心感</li>
            </ul>
            <p>など様々な利点がありますので、ぜひご活用ください。</p>
            <h2>注意事項・免責事項</h2>
            <p>
              つくByeBuyでは、Web上で売買のマッチングのみを行い、その後の連絡や実際の取引は当事者に一任しています。<br>
              そのため、万が一取引においてトラブルが起きた場合でも、運営側は一切の責任を負いかねますのでご了承ください。
            </p>
            <p>つくByeBuyの詳しい使い方は<%= link_to 'こちら', 'usage' %>のページに載せてありますのでご覧ください。</p>
          </div>
        </div>
        <h1>お問い合わせ</h1>
        <div class="card">
          <div class="card-content">
            <p>何かございましたら</p>
            <p style="padding-left: 2em;">
              tsuku.byebuy[at]gmail.com<br>
              （[at] を@に変えてください）
            </p>
            <p>または</p>
            <p style="padding-left: 2em;">Twitter公式アカウント<br><a href="https://twitter.com/TsukuByeBuy" target="_blank">@TsukuByeBuy</a></p>
            <p>までご連絡ください。</p>
          </div>
        </div>
