<h1>お問い合わせ</h1>
<p>何かございましたら</p>
<p style="padding-left: 2em;">tsuku.byebuy[at]gmail.com</p>
<p>または</p>
<p style="padding-left: 2em;">Twitter公式アカウント<br><a href="https://twitter.com/TsukuByeBuy" target="_blank">@TsukuByeBuy</a></p>
<p>までご連絡ください。</p>
