        <p><%= link_to '商品ページに戻る', {:controller => "items", :action => "show", :id => @item.id}, :class => "btn" %></p>
<% @item = Item.find(params["id"]) %>
<% if @item.image.url == "" || @item.image.url == nil %>
        <%= image_tag "no_image.png" %>
<% else %>
        <%= image_tag @item.image.url %>
<% end %>
        <p><%= link_to '商品ページに戻る', {:controller => "items", :action => "show", :id => @item.id}, :class => "btn" %></p>
