<h1>使い方</h1>
<h2>出品者</h2>
<h3>出品</h3>
・カーソルを合わせると説明が見れます。<br>
・出品が完了するとsアドにメールが届くので、パスワードを控えておきましょう。<br>
<h3>出品情報の編集</h3>
・パスワードが必要になります。<br>
<h3>取引完了</h3>
・パスワードを入力し「取引完了」ボタンを押すと、商品が削除されます。<br>
<h3>コメント</h3>
・出品者がコメントするときは、パスワードを入力してください。出品者のコメントとその他を区別します。<br>
<%= link_to '出品する', new_item_path, :class => "color_btn"  %>
<br><br>
<h2>購入者</h2>
<h3>コメント</h3>

・コメント、コメントへの返信ができます。<br>
・出品者のコメントは区別できるようになっています。<br>
・出品者はパスワードを入力してからコメントしてください。<br>
・出品者以外の方は、パスワードの欄は空欄で構いません。<br>
<h3>取引開始</h3>
・フォームから出品者にメールを送ることができます。<br>
・要件と自分の学籍番号を入力してください。<br>
<%= link_to '商品一覧に戻る', items_path, :class => "color_btn"  %>
