<h2>使い方</h2>
<br>
<div class="usage_index">出品者</div>
<h3>出品</h3>
・カーソルを合わせるとフォーム入力の説明が見れます。<br>
・出品が完了するとsアドにメールが届くので、パスワードを控えておきましょう。<br>
<h3>出品情報の編集</h3>
・商品の詳細ページの下部から編集ページに進むことができます。<br>
・編集にはメールでお伝えしたパスワードが必要になります。<br>
<h3>商品取引終了</h3>
・パスワードを入力し「商品取引終了」ボタンを押すと、商品が削除されます。<br>
・ボタンは商品の詳細ページの下部にあります。
<h3>コメント</h3>
・出品者がコメントするときは、パスワードを入力してください。<br>
　出品者のコメントとその他を区別します。<br>
<%= link_to '出品する', new_item_path, :class => "color_btn"  %>
<br><br>
<div class="usage_index">購入者</div>
<h3>コメント</h3>
・コメント、コメントへの返信ができます。<br>
・出品者のコメントは区別できるようになっています。<br>
・出品者以外の方は、パスワードの欄は空欄で構いません。<br>
<h3>取引開始</h3>
・フォームから出品者にメールを送ることができます。<br>
・要件と自分の学籍番号を入力してください。<br>
<%= link_to '商品一覧へ', items_path, :class => "color_btn"  %>
