<h1>パスワード照会</h1>
あなたの学籍番号を入力して送信ボタンを押してください。<br>
メールにてパスワードが送信されます。<br>
※このパスワード照会によってパスワードが変更されることはありません。<br>
※パスワードは学籍番号ごとに設定されており、同じ学籍番号であれば全ての出品に対して同じパスワードが利用できます。<br>

<%= form_tag('do_ref_mail', method: :post) do %>
  <div><%= text_field_tag :student_id %></div>
  <%= submit_tag "送信" %>
<% end %>
