<h2>商品の編集</h2>

<%= render 'form', item: @item %>

<div class="bottom_button">
<%= link_to '商品のページに戻る', @item, :class => "color_btn"  %>
<%= link_to '商品一覧に戻る', items_path, :class => "color_btn"  %>
</div>
