/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table.item_table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 20px;
}

table.item_table_show{
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 20px;
}

td.cell_label{
  font-weight: bold;
  width: 4em;
  border-right: hidden;
}

td.cell_label_show{
  font-weight: bold;
  width: 7em;
  border-right: hidden;
}

img{
  width: 100%;
  height: auto;
  text-align:center;
  vertical-align: middle;
}
