/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
*/

@import "materialize/components/color";

$primary-color: color("deep-orange", "darken-1") !default;
$secondary-color: color("grey", "darken-3") !default;

$button-raised-background: $primary-color !default;
$input-border-color: color("grey", "darken-1") !default;

$h1-fontsize: 1.8rem !default;
$h2-fontsize: 1.5rem !default;

@import 'materialize';
@import "materialize/components/icons-material-design";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

header a.brand-logo img {
  height: 60px;
}

body {
  @extend .grey;
  @extend .lighten-5;
}

main {
  margin-top: 1rem;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.scroll-horizontal-wrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-horizontal {
  display: inline-block;
  white-space: nowrap;

  & > * {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}

.flex-wrap {
  flex-wrap: wrap;

  & > * {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}

input[type="checkbox"] + label {
  padding-left: 30px;
}

.right-margin {
  margin-right: 1.5em;
}

.btn.secondary {
  @extend .white, .black-text;
}

.match-num-text {
  @extend .red-text;
  font-size: 1.5em;
}

.ribbon {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 999;
    pointer-events: none;
  }
}

.ribbon.new::before {
  background-image: image-url("new_over_ribbon.png");
}

.ribbon.sold::before {
  background-image: image-url("soldout_over_ribbon.png");
}

.sold img {
  filter: brightness(50%);
}

.price {
  font-size: 2.5em;
  font-weight: bold;
  @extend .red-text;
}

.alert {
  @extend .card, .card-content;

  &.error {
    @extend .red;
    @extend .lighten-5;
    @extend .red-text;
  }

  &.success {
    @extend .light-green;
    @extend .lighten-5;
    @extend .green-text;
  }
}

.card .chip {
  background-color: $primary-color;
  color: white;
}

.card.seller {
  @extend .blue;
  @extend .lighten-5;
  @extend .blue-text;
  @extend .text-darken-2;

  & .chip {
    @extend .blue;
  }
}

.card.buyer {
  @extend .grey;
  @extend .lighten-5;
}











table.map {
  width: 100%;
}

table.map td.map_cell {
  width: 400px;
  height: 600px;
  padding: 0;
}

table.map td.map_cell img.pin {
  width: 10%;
  position: absolute;
  cursor: pointer;
}

table.map td.map_cell img.pin:hover {
  filter: drop-shadow(0px 0px 4px blue);
}

table.map td.place_cell {
  vertical-align: top;
}

table.map span.map_num {
  display: inline-block;
  width: 2em;
  text-align: right;
}

.explain_pass{
  display: none;
  width: 350px;
  position: absolute;
  top: 10;
  left: 500px;
  padding: 10px;
  margin-top: -30px;
  border-radius: 5px;
  background: #fffae0;
  color: #333333;
  font-weight: bold;
}
.label_pass:hover + .explain_pass {
    display: block;
}

.mail_explain{
  display: none;
  width: 220px;
  position: absolute;
  top: 10;
  left: 850px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 5px;
  background: #fffae0;
  color: #333333;
  font-weight: bold;
}
.to_mail_button:hover + .mail_explain {
    display: block;
}

.des_ex{
  display: none;
  width: 400px;
  position: absolute;
  top: 10;
  left: 650px;
  padding: 10px;
  margin-top: -50px;
  border-radius: 5px;
  background: #fffae0;
  color: #333333;
  font-weight: bold;
}
.des_:hover + .des_ex {
    display: block;
}

.comment_explain{
  display: none;
  width: 400px;
  position: absolute;
  top: 10;
  left: 450px;
  padding: 10px;
  margin-top: -100px;
  border-radius: 5px;
  background: #fffae0;
  color: #333333;
  font-weight: bold;
}
.comment_main:hover + .comment_explain {
    display: block;
}

.comment_explain2{
  display: none;
  width: 400px;
  position: absolute;
  top: 10;
  left: 650px;
  padding: 10px;
  margin-top: -100px;
  border-radius: 5px;
  background: #fffae0;
  color: #333333;
  font-weight: bold;
}
.comment_form:hover + .comment_explain2 {

}


.usage_index {
  border-bottom: solid 2px #dd5500;
  font-size: 1.6em;
  font-weight: bolder;
  margin: 30px 0px;
}

div.item_table {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 40% 5em 1fr;
  margin-bottom: 1rem;
}

div.item_table div.thumb_img_square {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  border-right: 1px solid black;
}

div.item_table div.cell_label {
  grid-column: 2 / 3;
  padding: 0.5em;
  font-weight: bold;
  text-align: right;
  align-self: center;
}

div.item_table div.data_cell {
  grid-column: 3 / 4;
  padding: 0.5em;
  align-self: center;
}

div.item_table_show {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 40% 1fr;
}

div.item_table_show div.thumb_img_square {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-right: 1px solid black;
}

div.item_table_show div.item_cell {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  padding: 0.5em;
}

div.item_table_show div.detail_cell {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding: 0.5em;
  border-top: 1px solid black;
}

.date_time {
  float: right;
  margin: 4px 8px;
  color: #aaaaaa;
}

.date_time2 {
  float: right;
  margin: 4px 0px;
  color: #aaaaaa;
}

.relative {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.sold_over_black {
  position: absolute;
  left: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
}

.sold_over_ribbon {
  position: absolute;
  left: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
}
.sold_over_ribbon:hover {
  background-color: transparent;
}


header h1 img.header_logo {
  width: 250px;
}

.genre_tab {
  width: 100%;
  margin-top: 60px;
}

.genre_tab_item {
  display: inline-flex;
  margin-bottom: 10px;
}

.genre_tab_item_active {
  text-decoration: none;
  color: white;
  border: solid 2px var(--red-color);
  background-color: var(--red-color);
  cursor: pointer;
  padding-top: 10px;
}
.genre_tab_item_inactive {
  text-decoration: none;
  color: var(--red-color);
  border: solid 2px var(--red-color);
  background-color: white;
  cursor: pointer;
}

.enlarge_image img{
  width: 100%;
  height: auto;
}

/*
@media screen and (max-width: 480px) {
  body, p, ol, ul, td, input, textarea, select, button {
    font-size: 14px;
  }

  header h1 {
    font-size: 1.7rem;
    padding: 0;
    text-align: center;
  }

  header h1 img {
    width: 60%;
  }

  div#header nav ul {
    width: 100%;
  }

  div#header nav ul li {
    text-align: center;
    width: 25%;
  }

  div#header nav ul li a {
    padding: 0.5rem 0;
    font-size: 2rem;
    box-sizing: border-box;
    width: 100%;
  }

  div#header nav ul li a svg {
    display: block;
    margin: 0 auto;
  }

  div#header nav ul li a span.menu_text {
    font-size: 14px;
    line-height: 1;
  }

  table.search_form td,
  table.search_form th {
    display: block;
  }

  table.search_form th {
    text-align: left;
  }

  div.item_table {
    grid-template-columns: 5em 1fr;
  }

  div.item_table div.thumb_img_square {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-right: none;
    border-bottom: 1px solid black;
  }

  div.item_table div.cell_label {
    grid-column: 1 / 2;
  }

  div.item_table div.data_cell {
    grid-column: 2 / 3;
  }

  div.item_table_show {
    grid-template-columns: 1fr;
  }

  div.item_table_show div.thumb_img_square {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: none;
    border-bottom: 1px solid black;
  }

  div.item_table_show div.item_cell {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  div.item_table_show div.detail_cell {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  table.map td{
    display: block;
  }

  table.map td.map_cell {
    width: 100%;
    height: auto;
  }

  .item_name{
    font-size: 2rem;
  }

  .item_price{
    font-size: 1.3rem;
  }

  .value{
    font-size: 2rem;
  }

  .item_place{
    font-size: 1.3em;
  }

  .item_genre, .item_dep{
    font-size: 1em;
  }
}


@media screen and (min-width:450px){


div.us_peculiarity {
  text-align:center
}
div.us_peculiarity img {
   width: 100%;
}


div.us_block1-1 {
   float: left;
   width: 40%;
}


div.us_img1-2 {
  text-align:center
}
div.us_img1-2 img {
   width: 50%;
}

div.us_block1-2 {
   float: left;
   width: 30%;
}


div.us_img1-3 {
  text-align:center
}
div.us_img1-3 img {
   width: 30%;
}
 div.us_block1-3 {
    float: left;
    width: 30%;
}


 div.us_block2 {
   clear: both;
 }

 div.us_block2-a {
    float: left;
    width: 45%;
 }
 div.us_block2-b {
    float: right;
    width: 45%;
 }

 div.us_block2-1-1 {
   float: left;
   width: 36%;
   padding: 0.5em 1em;
   margin: 2em 0;
   color: #232323;
   background: Snow;
   border-left: solid 10px #d06d8c;
 }

 div.us_img2-1-1a{

   margin-left: auto;
   margin-right: auto;
   width: 65%;
 }

 div.us_img2-1-1b{
   width: 50%;
 }

 div.us_block2-1-2 {
   float: right;
   width: 36%;
   padding: 0.5em 1em;
   margin: 2em 0;
   color: #232323;
   background: AliceBlue;
   border-left: solid 10px #65ace4;
 }
 div.us_img2-1-2a{
   margin-left: auto;
   margin-right: auto;
   width: 65%;
 }
 div.us_img2-1-2b{
   margin-left: auto;
   margin-right: auto;
   width: 65%;
 }


 div.us_block2-2-1 {
   clear: both;
    float: left;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: Snow;
    border-left: solid 10px #d06d8c;
 }


 div.us_img2-2-1{
   width: 45%;
   float: right;
 }

 div.us_block2-2-2 {
    float: right;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: AliceBlue;
    border-left: solid 10px #65ace4;
 }

 div.us_img2-2-2{
   float: right;
   width: 40%;
 }

 div.us_block2-3-1 {
   clear: both;
    float: left;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: Snow;
    border-left: solid 10px #d06d8c;
 }

 div.us_img2-3-1{
   float: right;
   width: 40%;
 }

 div.us_block2-3-2 {
    float: right;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: AliceBlue;
    border-left: solid 10px #65ace4;
 }

 div.us_img2-3-2{
   float: right;
   width: 40%;
 }

 div.us_block2-4 {
   clear: both;
   padding: 0.5em 1em;
   margin: 2em 0;
   color: #232323;
   background: #fff8e8;
   border-left: solid 10px #f2cf01;
 }
 div.us_block2-4text {
   text-align:center
 }
 div.us_img2-4{
   margin-left: auto;
   margin-right: auto;
   width: 10%;
 }

 div.us_block2-5-1 {
   clear: both;
    float: left;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: Snow;
    border-left: solid 10px #d06d8c;
 }
 div.us_img2-5-1{
   margin-left: auto;
   margin-right: auto;
   width: 65%;
 }

 div.us_block2-5-2 {
    float: right;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: AliceBlue;
    border-left: solid 10px #65ace4;
 }

 div.us_block2-6-1 {
  clear: both;
    float: left;
    width: 40%;
    text-align:center
 }
 div.us_block2-6-2 {
    float: right;
    width: 44%;
    text-align:center
 }

 div.us_block3 {
   clear: both;
 }


}

@media screen and (min-width:0px){
  div.us_peculiarity {
    text-align:center
  }
  div.us_peculiarity img {
     width: 100%;
  }

  div.us_img1-2 {
    text-align:center
  }
  div.us_img1-2 img {
     width: 50%;
  }

  div.us_img1-3 {
    text-align:center
  }
  div.us_img1-3 img {
     width: 30%;
  }

  div.us_block2-a {
     float: left;
     width: 45%;
  }
  div.us_block2-b {
     float: right;
     width: 45%;
  }

  div.us_block2-1-1 {
    float: left;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: Snow;
    border-left: solid 10px #d06d8c;
  }

  div.us_img2-1-1a{
    width: 90%;
  }

  div.us_img2-1-1b{
    width: 90%;
  }

  div.us_block2-1-2 {
    float: right;
    width: 36%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: AliceBlue;
    border-left: solid 10px #65ace4;
  }
  div.us_img2-1-2a{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
  div.us_img2-1-2b{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }


  div.us_block2-2-1 {
    clear: both;
     float: left;
     width: 36%;
     padding: 0.5em 1em;
     margin: 2em 0;
     color: #232323;
     background: Snow;
     border-left: solid 10px #d06d8c;
  }

  div.us_img2-2-1{
    width: 90%;
  }

  div.us_block2-2-2 {
     float: right;
     width: 36%;
     padding: 0.5em 1em;
     margin: 2em 0;
     color: #232323;
     background: AliceBlue;
     border-left: solid 10px #65ace4;
  }

  div.us_img2-2-2{
    width: 90%;
  }

  div.us_block2-3-1 {
    clear: both;
     float: left;
     width: 36%;
     padding: 0.5em 1em;
     margin: 2em 0;
     color: #232323;
     background: Snow;
     border-left: solid 10px #d06d8c;
  }

  div.us_img2-3-1{
    width: 90%;
  }

  div.us_block2-3-2 {
     float: right;
     width: 36%;
     padding: 0.5em 1em;
     margin: 2em 0;
     color: #232323;
     background: AliceBlue;
     border-left: solid 10px #65ace4;
  }

  div.us_img2-3-2{
    width: 90%;
  }

  div.us_block2-4 {
    clear: both;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #f2cf01;
  }
  div.us_block2-4text {
    text-align:center
  }
  div.us_img2-4{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  div.us_block2-5-1 {
    clear: both;
     float: left;
     width: 36%;
     padding: 0.5em 1em;
     margin: 2em 0;
     color: #232323;
     background: Snow;
     border-left: solid 10px #d06d8c;
  }
  div.us_img2-5-1{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  div.us_block2-5-2 {
     float: right;
     width: 36%;
     padding: 0.5em 1em;
     margin: 2em 0;
     color: #232323;
     background: AliceBlue;
     border-left: solid 10px #65ace4;
  }

  div.us_block2-6-1 {
   clear: both;
     float: left;
     width: 40%;
     text-align:center
  }
  div.us_block2-6-2 {
     float: right;
     width: 44%;
     text-align:center
  }

  div.us_block3 {
    clear: both;
  }
}
*/