/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

:root {
  --page-width: 1000px;
  --red-color: #dd5500;
}

body {
  margin: 0;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  font-size: 16px;
  line-height: 1.7;
}

p, ol, ul, td {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  font-size: 16px;
  line-height: 1.7;
}

input, textarea, select, button {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  font-size: 16px;
}

td, th {
  padding: 0.5rem;
}

td.img {
  padding: 0;
  width: 50%;
}

div#header {
  background-color: var(--red-color);
  margin: 0;
}

header {
  max-width: var(--page-width);
  margin: 0 auto;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

header h1 a {
  color: white;
  text-decoration: none;
}

header h1 a:visited {
  color: white;
}

header h1 a:hover {
  background-color: transparent;
  text-decoration: underline;
}

div#nav {
  background-color: #fffae0;
}

div#header nav {
  max-width: var(--page-width);
  margin: 0 auto;
}

div#header nav ul {
  display: table;
  list-style-type: none;
  padding-left: 0;
}

div#header nav ul li {
  display: table-cell;
}

div#header nav ul li a {
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: black;
}

div#header nav ul li a:visited {
  color: black;
}

div#header nav ul li a:hover {
  background-color: var(--red-color);
  color: white;
}

main {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 1rem;
}

.toggle_button {
  cursor: pointer;
  border: 1px solid white;
}

.toggle_button:hover {
  border: 1px solid black;
}

/*ページのタイトル*/
h2{
  font-size: 1.5em;
  margin-left: -100vw;
  padding-left: 100vw;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: var(--red-color);
  color: #ffffee;
  display: inline-block;
}

/*リンク*/
a.red_line {
  position: relative;
  display: inline-block;
  transition: .3s;
  background-color: white;
}
a.red_line:hover{
  color: #555555;
  text-decoration:none;
  background-color: white;
}
a.red_line::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ff5500;
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 2px;
}
a.red_line:hover::after {
  width: 100%;
  background-color: #ff5500;
  margin-bottom: 2px;
}

.place_checkbox_item{
  font-weight: normal;
  display: inline-block;
}

/*検索結果件数*/
.match_num{
  color: red;
  font-size: 1.6em;
}

/*検索フォーム*/
table.search_form {
  border: solid 1px #000000;
  width: 100%;
}

table.search_form td, table.search_form th {
  vertical-align: top;
}

table.search_form th {
  width: 7em;
  text-align: right;
}

table.search_form label input[type="checkbox"] {
  margin-left: 1em;
}

table.search_form input[type="submit"] {
  letter-spacing: 2em;
  padding: 0.5em;
  padding-left: 2.5em;
}

/*一覧表示*/
table.item_table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 20px;
}

th.cell_label{
  width: 4em;
  border-right: hidden;
}

img{
  width: 100%;
  height: auto;
  text-align:center;
  vertical-align: bottom;
}


/*詳細表示*/
.item_table_show{
  margin: 10px auto 60px auto;
  border-collapse: collapse;
}

.item_table_show .item_cell{
  padding: 20px 10px;
  vertical-align: top;
}

.item_name{
  font-size: 2.4em;
  font-weight: bold;
}

.item_price{
  font-size: 1.8em;
  text-align: right;
  margin: 80px 20px 30px 20px;
}

.value{
  color: red;
  font-size: 1.8em;
  font-weight: bold;
}

.item_place{
  font-size: 1.6em;
  text-align: right;
  margin: 12px 20px;
}

.item_genre{
  font-size: 1.2em;
  color: #aaaaaa;
  text-align: right;
  margin: 0px 20px;
}

.item_detail{
  padding: 20px 200px 60px 12px;
}

.to_mail_button{
  vertical-align: bottom;
  text-align: right;
  margin: 12px 20px;
}

.comment_question{
  border: solid #efead0;
  background-color: #fffae0;
  border-radius: 8px;
  padding: 4px;
  display: inline-block;
}

.comment_answer_one_line{
  border: solid #efead0;
  background-color: #fffae0;
  border-radius: 8px;
  padding: 4px;
  display: inline-block;
}

.comment_answer_multi_lines{
  border: solid #efead0;
  background-color: #fffae0;
  border-radius: 8px;
  padding: 4px;
  margin: -2.5em 0em 0em 4.3em;
  display: inline-block;
}

.comment_seller{
  color: #ff5500;
  font-weight: bold;
}

.comment_form{
  background-color: #fffcee;
  border: solid #dddddd 1px;
  padding: 24px 10px;
  display: inline-block;
}

/*ボタン*/
.color_btn {
    display: inline-block;
    padding: 0.3em 1em;
    margin: 16px 0px 8px 0px;
    text-decoration: none;
    color: white;
    border: solid 2px var(--red-color);
    background-color: var(--red-color);
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
}

a.color_btn{
  color: white;
}

.color_btn:hover {
    background: white;
    color: var(--red-color);
}


/*ボタンの配置*/
.bottom_button{
  margin-top: 60px;
}

.actions{
  margin-top: 20px;
}


/*select*/
select {
	width: auto;
	padding: 0px 32px 0px 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(arrow.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(arrow.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 20px, 100%;
}

.contact_address{
  margin: 20px 0px;
}



/*商品登録ページの説明*/
.label_name{
  font-weight: bold;
}
.explain_name {
      display: none;
      width: 200px;
      position: absolute;
      top: 10;
      left: 200px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_name:hover + .explain_name {
      display: block;
}

.label_place{
  font-weight: bold;
}
.explain_place {
      display: none;
      width: 200px;
      position: absolute;
      top: 10;
      left: 300px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_place:hover + .explain_place {
      display: block;
}

.label_image{
  font-weight: bold;
}
.explain_image {
      display: none;
      width: 200px;
      position: absolute;
      top: 10;
      left: 250px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_image:hover + .explain_image {
      display: block;
}

.label_price{
  font-weight: bold;
}
.explain_price {
      display: none;
      width: 200px;
      position: absolute;
      top: 10;
      left: 200px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_price:hover + .explain_price {
      display: block;
}

.label_detail{
  font-weight: bold;
}
.explain_detail {
      display: none;
      width: 200px;
      position: absolute;
      top: 10;
      left: 320px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_detail:hover + .explain_detail {
      display: block;
}

.label_genre{
  font-weight: bold;
}
.explain_genre {
      display: none;
      width: 250px;
      position: absolute;
      top: 10;
      left: 160px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_genre:hover + .explain_genre {
      display: block;
}

.label_student_id{
  font-weight: bold;
}
.explain_student_id {
      display: none;
      width: 250px;
      position: absolute;
      top: 10;
      left: 200px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_student_id:hover + .explain_student_id {
      display: block;
}

.label_department{
  font-weight: bold;
}
.explain_department {
      display: none;
      width: 250px;
      position: absolute;
      top: 10;
      left: 200px;
      padding: 10px;
      margin-top: -10px;
      border-radius: 5px;
      background: #fffae0;
      color: #333333;
}
.label_department:hover + .explain_department {
      display: block;
}

.thumb {
  width: 100px;
}
