<h1>出品者に連絡しました</h1>

<% ActionMailer::Base.mail(
 from: "sg5td9uo@idcf.kke.com",
 to: "s" + params[:to_mail][:student_id].slice(2,7) + "@u.tsukuba.ac.jp",
 subject: "[つくByeBuy] 閲覧者からの連絡",
 body: params[:mail][:student_id] + " さんから連絡がありました。\n\n" + params[:mail][:content]
 ).deliver %>

<%= link_to '商品一覧に戻る', items_path %>
